.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:10px;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    
}
.cart-container{
    background-color: rgb(255, 204, 141);
    padding:20px 10px;
    height: 450px;
    position:sticky;
    top:0px;
}
